@media(max-width:1400px){
	.banner-content h2{max-width:65%;}
	.banner-content h2 + h2{max-width:90%;}
	.twitter-inner-wrapper p , .testimonial-inner-wrapper p , .title h3{font-size:28px;}
	.post-detail-info h1{font-size:25px;}
}


@media(max-width:1199px){
	.banner-content h2{max-width:75%; font-size:40px;}
	.banner-content h2 + h2{max-width:100%;}
	.twitter-inner-wrapper p , .testimonial-inner-wrapper p{font-size:26px;}
	.post-detail-content>h3{font-size:22px;}
	.post-detail-author-info .post-detail-info-inner{flex:0 0 calc(100% - 13%); max-width:calc(100% - 13%);}
	.post-detail-info-inner h5{font-size:22px;}
	.banner-wrapper.v2 .banner-content h2{max-width:40%; font-size:55px;}
}

@media (max-width: 992px){
	.banner-content h2{max-width:75%; font-size:30px;}
	.service-block{margin-bottom:20px;}
	.nav-tabs{gap:5px;}
	.twitter-inner-wrapper p{font-size:24px;}
	.social-icon ul li a{width:50px; height:50px;}
	.testimonial-inner-wrapper p{font-size:22px;}
	.banner-wrapper.v2 .banner-content h2{max-width:45%; font-size:50px;}
	.post-detail-info h1{font-size:20px;}
	.post-detail-min-author-info h5{font-size:16px;}
	.post-detail-min-author-info span{font-size:14px;}
	.post-detail-content>h3{font-size:20px;}
	.post-detail-author-info .post-detail-info-inner{flex:0 0 calc(100% - 16%); max-width:calc(100% - 16%);}

	.menu li a {
		display: inline-block;
		width: 100%;
		padding: 20px 0;
		position: relative;
	}
	.menu >li {
		border-bottom: 1px solid var(--gray);
		font-size: 16px;
		font-weight: bold;
		color: var(--black);
	}
	.menu-toggle a {
    color: var(--white);
    font-size: 22px;
    display: inline-flex;
}
	.cross-btn a i {
		font-size: 18px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		position: absolute;
		top: 1rem;
		left: 1rem;
		background-color: var(--blue);
		border-radius: 4px;
		width: 2rem;
		height: 2rem;
		margin-bottom: 20px;
		color: var(--white);
		font-weight: bold;
		transition: all 0.3s linear;
	}
	.cross-btn .logo {
		margin: 30px 0 20px;
		text-align: center;
	}
	.cross-btn .logo h1, .cross-btn .logo h1 a:hover {
		color: var(--black);
	}
	.menu-wrapper {
		position: fixed;
		top: 0;
		right: -100%;
		background-color: var(--white);
		max-width: 25rem;
		width: 100%;
		height: 100vh;
		padding: 30px;
		overflow-y: auto;
		transition: all 0.8s linear;
		z-index: 2;
		box-shadow: 0 0 10px 0 #0000001c;
	}
	.menu-item-has-children ul {
		margin-left: 20px;
		opacity: 0;
		visibility: hidden;
		max-height: 0;
	}
	.menu-item-has-children >a:before {
		content: "\f107";
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		font-weight: 900;
		font-family: "Font Awesome 6 Free";
		font-size: 14px;
	}
}


@media(max-width:767px){
	.portfolio-nav{display:block;}
	.portfolio-nav .title{margin-bottom:20px;}
	.twitter-inner-wrapper p , .testimonial-inner-wrapper p{font-size:20px;}
	.author-content p{margin-bottom:30px;}
	.banner-wrapper.v2 .banner-content h2{max-width:55%; font-size:45px;}
	.post-detail-content p , .post-detail-info-inner p{font-size:14px;}
	.post-detail-content>h3{font-size:18px;}
	.post-detail-author-info{justify-content:center; text-align:center;}
	.post-detail-author-info .post-detail-info-inner{margin-top:20px; padding:0;}
	.share-links{justify-content:center;}

}

@media(max-width:567px){
	.twitter-inner-wrapper p , .comment .comment-detail h5{font-size:18px;}
	.author-content p{margin-bottom:25px;}
	.grid-2{display:block;}
	.comment{margin-top:30px; justify-content:center; text-align:center; gap:6px;}
    .post-detail-author-info .post-detail-info-inner{padding-left:0;}
	.comment .comment-detail h5, .comment-body span.says{display:block;}
	.comment-metadata{position:relative;}
	.comment-body span.says{font-size:16px;}
	.comment>img+.comment-detail{padding:0; margin-top:20px;}
	.comments-thread h3, .comment-form-wrapper h3{font-size:22px;}
}


@media(max-width:480px){
	.twitter-inner-wrapper p{font-size:16px;}
	.author-content p{margin-bottom:20px;}
	.testimonial-inner-wrapper p{font-size:18px;}
	.nav-link{padding:0.5rem;}
	.banner-wrapper.v2 .banner-content h2{font-size:40px; max-width:70%;}
	.breadcrumb li{font-size:14px;}
	.post-detail-author-info{padding:30px 20px;}
}


@media(max-width:375px){
	.banner-wrapper.v2 .banner-content h2{max-width:80%;}
}


@media(min-width:993px){
	.cross-btn , .menu-toggle{
		display:none;
	}
	.menu{
		display:flex;
		align-items:center;
	}
	.menu li{
		margin-right:30px; 
		font-size:14px;
		font-weight:bold;
		color:var(--white);
		text-transform:uppercase;
	}
	.menu-item-has-children:not(.megamenu){
		position:relative;
	}
	.megamenu ul {
		display: flex;
		flex-wrap: wrap;
	}
	.megamenu ul li {
		padding: 10px 0;
		width:20%;
		padding:15px 0;
	}
	.menu li.megamenu a {
		position: relative;
		display: inline-block;
		padding:0;
	}
	.megamenu ul li a:before {
		content: "";
		position: absolute;
		top: 100%;
		left: auto;
		right: 0;
		background-color: var(--blue);
		width: 0;
		height: 1px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s linear;
	}
	.megamenu ul li a:hover:before{
		left:0;
		right:auto;
		opacity:1;
		visibility:visible;
		width:100%;
	}
	.menu-item-has-children ul{
		position:absolute;
		top:calc(100% + 10px);
		left:0;
		background-color:var(--white);
		min-width: 220px;
		padding: 0 20px;
		transition: all 0.3s linear;
		box-shadow: 0rem 1rem 1rem rgb(0 0 0 / 5%);
		transform:scale(0);
		opacity: 0;
		visibility: hidden;
		z-index: 9;
	}
	.menu-item-has-children ul li{
		color:var(--black);
	}
	.megamenu ul{
		width:100%;
	}
	.menu-item-has-children ul li a {
		display: block;
		padding: 15px 0;
	}
	.menu-item-has-children:hover ul{
		transform:scale(1);
		opacity: 1;
		visibility: visible;
	}
	.menu >li >a{
		padding:5px;
		border:1px solid transparent;
	}

	.menu >li >a:hover , .menu li.active>a{
		color:var(--blue);
		border:1px solid var(--blue);
	}
}